<form action="/recipes/create" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div>
    <label >Nome</label><br>
    <input id="name" name="name" type="text" />
  </div>

  <div>
    <label>Directions</label><br>
    <textarea id="directions" name="directions"></textarea>
  </div>
  <input name="commit" type="submit" value="Criar" />

</form>















<!-- <%= form_for(@recipe) do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :directions %><br>
    <%= f.text_area :directions %>



    <%= f.submit %>

<% end %>
 -->